<div id="available-docs" v-cloak>

  <div class="container">

    <div class="page-header text-center">
      <h1>Docs</h1>
      <h2>Upload your own doc.</h2>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add a doc</button>
      </div>
    </div>

    <div class="listings" v-if="docs.length > 0">

      <div class="card" :key="'doc'+doc.id" :class="[doc.owner.id === me.id ? 'mine' : '', doc.unavailable ? 'not-available' : '']" v-for="doc in docs">
        <div class="card-options dropdown" v-if="doc.borrowedBy && doc.owner.id === me.id">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-item" @click="clickDeleteDoc(doc.id)">Delete</span>
          </div>
        </div>
        <div class="card-options dropdown" v-else-if="doc.borrowedBy && doc.borrowedBy.id === me.id">
          <span class="options-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-ellipsis-v"></span></span>
          <div class="dropdown-menu dropdown-menu-right">
            <span class="dropdown-item" @click="clickReturn(doc.id)">Give this back</span>
            <span class="dropdown-item" @click="clickContactOwner(doc.id)">Contact {{doc.owner.fullName}}</span>
          </div>
        </div>
        <div class="card-options" v-else-if="!doc.borrowedBy">
          <span class="options-button" data-toggle="tooltip" data-placement="top" title="Delete" @click="clickDeleteDoc(doc.id)" v-if="doc.owner.id === me.id"><span class="fa fa-trash-o text-danger"></span></span>
        </div>
        <a href="{{doc.fileSrc}}" class="title" v-if="doc.title">{{doc.title}}</a>
        <small class="owner text-primary">{{doc.owner.fullName}}</small>
      </div>
    </div>
    <div class="empty text-center" v-else><p>You have not uploaded any docs. <a href="/docs/new" @click="clickAddButton()">Add a doc</a> to get started!</p></div>
  </div>

  <% /* "Upload doc" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeUploadDocModal()">

    <div class="modal-header">
      <h5 class="modal-title">Upload a new doc</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>

    <ajax-form action="uploadDoc" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadDocForm" @submitted="submittedUploadDocForm($event)">
      <div class="modal-body">
        <div class="form-group">
          <label>Add a photo:</label>
          <div class="photo-uploader" :class="!uploadFormData.previewImageSrc ? 'empty' :  ''">
            <div class="photo-upload-field row d-flex align-items-center" :class="!uploadFormData.previewImageSrc ? 'justify-content-center' :  'justify-content-start'" >
              <div class="photo-preview col">
                <div class="image-wrapper" :class="!uploadFormData.previewImageSrc ? 'd-flex align-items-center justify-content-center' : ''">
                  <img v-if="uploadFormData.previewImageSrc" alt="A preview of the selected item" :src="uploadFormData.previewImageSrc"/>
                  <span v-else class="placeholder-icon fa fa-picture-o"></span>
                </div>
              </div>
              <div class="col d-flex-column justify-content-center">
                <span class="file-upload-button btn btn-sm" :class="[formErrors.photo ? 'btn-outline-danger' : !uploadFormData.previewImageSrc ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                  <span class="button-text" v-if="!uploadFormData.previewImageSrc">Select image</span>
                  <span class="button-text" v-else>Change image</span>
                  <input type="file" :disabled="syncing" accept="image/*" class="file-input" @change="changeFileInput($event.target.files)"/>
                </span>
                <p class="image-advice text-muted" v-if="!formErrors.photo"><strong>Tip</strong>: Make sure the item is front and center in the photo, so people know exactly what you're offering to share.</p>
                <p class="image-advice text-danger" v-if="formErrors.photo">A photo is required in order to add a new item.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" v-if="uploadFormData.previewImageSrc">
          <label>Title</label>
          <input class="form-control" type="text" v-model="uploadFormData.title" placeholder=""/>
        </div>
        <p class="text-danger" v-if="cloudError === 'tooBig'"><small>That file is too big. Please choose a junkier picture.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Upload</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Delete doc" modal */ %>
  <modal v-if="confirmDeleteDocModalOpen && selectedDoc" v-cloak key="delete" @close="closeDeleteDocModal()">
    <div class="modal-header">
      <h5 class="modal-title">Remove this item?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="destroyOneDoc" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingDeleteDocForm" @submitted="submittedDeleteDocForm()">
      <div class="modal-body">
        <p>Are you sure you want to remove this {{selectedDoc.title || 'item'}}?</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Delete</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%/* For virtual pages */%>
  <router-view></router-view>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
