<div id="available-things" v-cloak>

  <div class="container">
    <div class="page-header">
      <h1>Documents</h1>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="clickAddButton()">Add Document</button>
      </div>
    </div>

    <table class="listings table mt-3" v-if="things.length > 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">REF #(s)</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="'thing'+thing.id" :class="[thing.owner.id === me.id ? 'mine' : '', thing.unavailable ? 'not-available' : '']" v-for="thing in things">
          <td><a :href="thing.imageSrc" target="_new"><span class="label" v-if="thing.label">{{thing.label}}</span></a></td>
          <td><span class="ref" v-if="thing.ref">{{thing.ref}}</span></td>
          <td><span class="btn btn-primary" @click="clickEditThing(thing.id)">Edit</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% /* "Upload thing" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeUploadThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Upload a Document</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="uploadThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadThingForm" @submitted="submittedUploadThingForm($event)">
      <div class="modal-body">
        <div class="form-group">
          <label>Add a pdf:</label>
          <div class="photo-uploader" :class="!uploadFormData.previewImageSrc ? 'empty' :  ''">
            <div class="photo-upload-field row d-flex align-items-center" :class="!uploadFormData.previewImageSrc ? 'justify-content-center' :  'justify-content-start'" >
              <div class="photo-preview col">
                <div class="image-wrapper" :class="!uploadFormData.previewImageSrc ? 'd-flex align-items-center justify-content-center' : ''">
                  <embed v-if="uploadFormData.previewImageSrc" :src="uploadFormData.previewImageSrc" width="100%" height="200"/>
                  <!-- <img v-if="uploadFormData.previewImageSrc" alt="A preview of the selected item" :src="uploadFormData.previewImageSrc"/> -->
                  <span v-else class="placeholder-icon fa fa-picture-o"></span>
                </div>
              </div>
              <div class="col d-flex-column justify-content-center">
                <span class="file-upload-button btn btn-sm" :class="[formErrors.photo ? 'btn-outline-danger' : !uploadFormData.previewImageSrc ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                  <span class="button-text" v-if="!uploadFormData.previewImageSrc">Select file</span>
                  <span class="button-text" v-else>Change file</span>
                  <input type="file" :disabled="syncing" accept="application/pdf" class="file-input" @change="changeFileInput($event.target.files)"/>
                </span>
                <p class="image-advice text-muted" v-if="!formErrors.photo"><strong>Tip</strong>: Make sure the file you're uploading is a pdf.</p>
                <p class="image-advice text-danger" v-if="formErrors.photo">A pdf is required in order to add a new item.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" v-if="uploadFormData.previewImageSrc">
          <label>Title:</label>
          <input class="form-control" type="text" v-model="uploadFormData.label" placeholder="">
        </div>
        <div class="form-group" v-if="uploadFormData.previewImageSrc">
          <label>REF(s):</label>
          <input class="form-control" type="text" v-model="uploadFormData.ref" placeholder="">
        </div>
        <p class="text-danger" v-if="cloudError === 'tooBig'"><small>That file is too big.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Save</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Edit thing" modal */ %>
  <modal v-if="confirmEditThingModalOpen && selectedThing" v-cloak key="edit" @close="closeEditThingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Edit a Document</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="editOneThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingEditThingForm" @submitted="submittedEditThingForm($event)">
      <input type="hidden" v-model="selectedThing.id">
      <div class="modal-body">
        <div class="form-group">
          <label>Add a pdf:</label>
          <div class="photo-uploader" :class="!uploadFormData.previewImageSrc ? 'empty' :  ''">
            <div class="photo-upload-field row d-flex align-items-center" :class="!uploadFormData.previewImageSrc ? 'justify-content-center' :  'justify-content-start'" >
              <div class="photo-preview col">
                <div class="image-wrapper" :class="!uploadFormData.previewImageSrc ? 'd-flex align-items-center justify-content-center' : ''">
                  <embed v-if="uploadFormData.previewImageSrc" :src="uploadFormData.previewImageSrc" width="100%" height="200"/>
                  <embed v-else-if="selectedThing.imageSrc" :src="selectedThing.imageSrc" width="100%" height="200"/>
                  <!-- <img v-if="uploadFormData.previewImageSrc" alt="A preview of the selected item" :src="uploadFormData.previewImageSrc"/> -->
                  <span v-else class="placeholder-icon fa fa-picture-o"></span>
                </div>
              </div>
              <div class="col d-flex-column justify-content-center">
                <span class="file-upload-button btn btn-sm" :class="[formErrors.photo ? 'btn-outline-danger' : !uploadFormData.previewImageSrc ? 'btn-outline-success' : 'btn-outline-secondary mr-3']">
                  <span class="button-text" v-if="!uploadFormData.previewImageSrc">Select file</span>
                  <span class="button-text" v-else>Change file</span>
                  <input type="file" :disabled="syncing" accept="application/pdf" class="file-input" @change="changeFileInput($event.target.files)"/>
                </span>
                <p class="image-advice text-muted" v-if="!formErrors.photo"><strong>Tip</strong>: Make sure the file you're uploading is a pdf.</p>
                <p class="image-advice text-danger" v-if="formErrors.photo">A pdf is required in order to add a new item.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Title:</label>
          <input class="form-control" type="text" v-model="selectedThing.label">
        </div>
        <div class="form-group">
          <label>REF(s)</label>
          <input class="form-control" type="text" v-model="selectedThing.ref">
        </div>
        <p class="text-danger" v-if="cloudError === 'tooBig'"><small>That file is too big.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Save</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <button class="btn btn-outline-danger mr-1" @click="clickDeleteThing(selectedThing.id)">Delete</button>
      </div>
    </ajax-form>
  </modal>
  
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
