#homepage {

  .input-group {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      z-index: -1;
      height: 100%;
      width: 70px;
      background-image: url('/images/icon-ref.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
  }

  .search-field {
    padding-left: 90px;
    background-color: transparent;
  }

  .icon-manufacturing {
    max-width: 16px;
    height: auto;
    margin-right: 12px;
  }
}